html {
    height: auto;
    width: 1299px;
}



body {
    background-repeat: no-repeat;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-position:center;
    

}