/* Background*/ 


@media only screen and (max-device-width: 1024px) {
    html {
        
        height: auto;
        width: auto;
    }
}



@media only screen and (max-device-width: 1024px) {
body {
    background-position: center;
    background-size: auto;
}
}

/* Titulo*/ 

@media only screen and (max-device-width: 1024px) {
         .titulo  {
    
          margin-top: 50px;


}
}

@media only screen and (max-device-width: 1024px) {
         .titulo__lista {
          display: flex;
          justify-content: center;
          left: 100px;
          position: relative;
          


}
}

@media only screen and (max-device-width: 1024px) {
      .titulo__01  {
      font-size: 2.3rem;
      
      
}
}

@media only screen and (max-device-width: 1024px) {
     .titulo__02  {
     font-size: 2.3rem;
}
}


/* Menu Sanduiche*/ 


@media only screen and (max-device-width: 1024px) {
#menuToggle  {
    bottom: 30px;
    left: 15px;
    position: relative;
    
} 
}



@media only screen and (max-device-width: 1024px) {
    #menu  {
        width: 300px;
        height: 1350px;
        
    } 
}


@media only screen and (max-device-width: 1024px) {
        .menu__item a {
        font-size: 3rem;

        } 
}


@media only screen and (max-device-width: 1024px) {
    .menu__item  {
    margin-top: 150px;

    } 
}



@media only screen and (max-device-width: 1024px) {
    .menu__menu  {
     font-size: 3rem;

    } 
}




/* Player de musica*/ 

@media only screen and (max-device-width: 1024px) {
.player  {
    margin-top: 10px;
    position: relative;
    left: 50px;
    
}
}


/* Player de video*/ 

@media only screen and (max-device-width: 1024px) {
iframe  {
    margin-top: 20px;
    height: 380px;
    width: 950px;
}
}


@media only screen and (max-device-width: 1024px) {
    .videoplayer  {
        left: 85px;
        position: relative;
        
    }
    }


/*  formulario de contato */ 

@media only screen and (max-device-width: 1024px) {
.titulo__formulario  {
    color: black;
    margin-top: 50px;
    position: relative;
    left: 75px;
}
}


/* Formulario */ 

@media only screen and (max-device-width: 1024px) {
.rodape__formulario {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 55px;  
}
}

@media only screen and (max-device-width: 1024px) {
    #textonome, #textoemail, #textomensagem  {
        color: black;
        font-size: 1.8rem;
    }
    }

    @media only screen and (max-device-width: 1024px) {
        #Nome, #Email, #mensagem {
            padding: 1rem;
        }
        }




/* Formulario botao */
@media only screen and (max-device-width: 1024px) {
.formulario__botao {
    
    
    left: 80px;
    padding: 1rem;
    position: relative;
    top: 5px;
    width:80% ;
    
}
}



/* Rodape final */
@media only screen and (max-device-width: 1024px) {
.rodape__final {
    display: flex;
    flex-direction: column;
}
}


@media only screen and (max-device-width: 1024px) {
.rodape__logo {
    display: none;
   
}
}


@media only screen and (max-device-width: 1024px) {
.rodape__corp {
    color: black;
    font-size: 2rem;
    left: 34%;
    position: relative;
    top: 460px;
    
}
}


@media only screen and (max-device-width: 1024px) {
           video {
        left: 226px;
        position: relative;
        width: 70%;
}
}