.rodape__formulario {
    display: flex;
    justify-content: space-between;
}

.rodape__formulario {
    box-shadow: 1px 20px 20px 0px blueviolet;
    color: white;
    font-size: 1.1rem;
    margin-top: 40px;
    margin-left: 45px;
    width: auto;
    

}


#textonome {
    margin-left: 20px;
}

#textoemail {
    margin-left: 20px;
}


#textomensagem {
    margin-left: 20px;
}


#Nome {
    color: black;
    margin-left: 5px;
    text-align: center;
}

#Email {
    color: black;
    margin-left: 5px;
    text-align: center;
}

#mensagem {
    color: black;
    margin-left: 5px;
    text-align: center;
    
}




.formulario__botao {
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 6px;
    margin-left: 15px;
    width: 10%;
    
}